# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================
# Node / JS / TS
# =========================
node_modules/
dist/
build/
.out/
.cache/
.tmp/
.next/
**/.next/
apps/web/.next/


# =========================
# Environment variables
# =========================
.env
.env.*
!.env.example

# =========================
# Cloudflare / Workers / Pages
# =========================
.wrangler/
.wrangler.toml
.dev.vars

# =========================
# Databases
# =========================
*.sqlite
*.sqlite3
*.db
*.db-journal

# =========================
# Tests
# =========================
test-results/
playwright-report/
cypress/videos/
cypress/screenshots/

# =========================
# IDE
# =========================
.vscode/
!.vscode/extensions.json
.idea/
*.iml

# =========================
# Monorepo tooling (Nx / Turborepo / etc.)
# =========================
.nx/
.turbo/
.pnpm-store/

# =========================
# Misc
# =========================
*.swp
*.swo
*.bak
/.pgdata
*.tsbuildinfo

packages/db/migrations/*.js
packages/db/migrations/*.d.ts
packages/db/migrations/*.map
packages/db/*.tsbuildinfo
packages/db/dist/**

# next.js
/.next/
/out/
/tile-server/sources
*.zip
*.mbtiles
apps/web/tsconfig.tsbuildinfo
